.full {
  .base-container {
    background-image: url(../../s2.png);
    background-color: black;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tag {
      text-align: right;
      color: white;
      margin-left: auto;
      margin-top: 10px;

      .tag1 {
        &:hover {
          color: red;
          background-color: white;
        }
      }
    }

    .header {
      font-size: 24px;
      font-family: "Open Sans", sans-serif;
      color: white;
    }

    .data {
      display: grid;
      font-size: 24px;
      font-family: "Open Sans", sans-serif;
      color: white;
    }
    .userdetail {
      font-size: 24px;
      font-family: "Open Sans", sans-serif;
      color: black;
    }

    .content {
      display: flex;
      flex-direction: column;

      .form {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-group {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: fit-content;
          label {
            font-size: 20px;
            color: white;
          }
          input {
            color: white;
          }
          
      }
      }
    }

    .footer {
      margin-top: 3em;
      padding: 0px 10px;
      color: #fff;

      .speeddial {
        text-align: right;
      }
    }
    .btn {
      padding: 5px 20px;
      background-color: #fff;
      margin-bottom: 30px;
      color: black;
    }
    .btn:hover {
      color: #fff;
      background-color: grey;
      transition: 0.2 ease;
    }
  }
}
.MuiInput-underline:before{
  border-bottom: 2px solid #fff !important;
}
